body {
  font-size: 14px;
  height: 100%;
}

html {
  // height: 100%;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
a:focus,
a:hover {
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.ke-body {
  margin: 10px;
  padding: 15px;
  background: #fff;
}
.close-button {
  display: none;
}